.score{
    margin: auto;
    gap: 25vw;
    display: flex;
    flex-direction: row;
    justify-self: center;

    margin-top: 20px;
}

.score__wrapper{
    width: 200px;
    height: 60px;

    background-color: #f3efef;
    box-sizing: border-box;
    padding: 0 25px;
    border-radius: 20px;
    box-shadow: 7px 7px 5px #1f1e1e9d;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
}