#root {
  margin: 0 auto;
  padding: 0;
}

.container{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.body{
  display: flex;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}